/* @import '../../styles/variables'; */

/**
  Use :host to apply some style to your entire component
 */
:host {
  color: white;
}

.header {
  background: linear-gradient(to right, #dc7d24, #4a9d5b);
  padding: 1em;
}